<div class="container">

  <div id="title" class="jumbotron text-center">
    <h1>TORRO Presents</h1>
    <p>
      <img src="assets/images/torro.png" alt="We are TORRO"><br>
      With ♥ thanks to the contributions of<acme-malarkey />
    </p>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h3>{{ main.vnets['src_addresses'].id }}</h3>
      <div class="thumbnail col-sm-4" ng-repeat="iface in main.vnets['src_addresses']['UveVirtualNetworkAgent']['interface_list']">
        <div class="caption">
          <p class="lead"> {{iface}} </p>
          <p> {{main.ifaces[iface]['UveVMInterfaceAgent']['if_stats'] | json}}
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <h3>{{ main.policy.name }}</h3>
      <div class="thumbnail">
        <div class="caption">
          {{ main.service['UveSvcInstanceConfig']['st_name'] }}
          <div class="input-group text-center">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-number" data-type="minus" ng-click="main.scaleDownService(main.service.uuid)">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>
            </span>
            <h3> Instances: {{main.service['UveSvcInstanceConfig']['vm_list'].length}} </h3>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-number" data-type="plus" ng-click="main.scaleUpService(main.service.uuid)">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </span>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <h3>{{ main.vnets['dst_addresses'].id }}</h3>
      <div class="thumbnail col-sm-4" ng-repeat="iface in main.vnets['dst_addresses']['UveVirtualNetworkAgent']['interface_list']">
        <div class="caption">
          <p class="lead"> {{iface}} </p>
          <p> {{main.ifaces[iface]['UveVMInterfaceAgent']['if_stats'] | json}}
        </div>
      </div>
    </div>
  </div>

</div>
