<div class="container">

  <div>
    <acme-navbar creationDate="main.creationDate" />
  </div>

  <div class="jumbotron text-center">
    <h1>TORRO Presents</h1>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
    <p>
      With ♥ thanks to the contributions of<acme-malarkey extra-values="['Ali', 'Thomas', 'Roujia']" />
    </p>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="vnet in main.vnets">
      <div class="thumbnail">
        <div class="caption">
          <h3>{{ vnet.id }}</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="service in main.services">
      <div class="thumbnail">
        <div class="caption">
          <h3>{{ service.id }}</h3>
        </div>
      </div>
    </div>
  </div>

</div>
